/LLM_Web/PDF_base_AI/__pycache__/
docker-compose.yml
PDF_base_AI/__pycache__/
PDF_base_AI/PDF/__pycache__/
PDF_base_AI/PDF/__pycache__/__init__.cpython-311.pyc
PDF_base_AI/PDF/__pycache__/__init__.cpython-311.pyc
PDF_base_AI/PDF/__pycache__/PDF_2_TEXT.cpython-311.pyc
PDF_base_AI/PDF/__pycache__/PDF_base_GPT.cpython-311.pyc
PDF_base_AI/__pycache__/main.cpython-311.pyc
PDF_base_AI/__pycache__/main.cpython-311.pyc
PDF_base_AI/PDF/__pycache__/PDF_2_TEXT.cpython-311.pyc
